<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Weather App 🌦️</h1>
    
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p>© 2024 Weather App | Powered by <a href="https://openweathermap.org" target="_blank">OpenWeatherMap</a></p>
    </footer>

</body>
</html>
